<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSLocalNetworkUsageDescription</key>
    <string>Hyper-Connect needs local network access to discover and communicate with nearby devices on your network.</string>
    <key>NSBonjourServices</key>
    <array>
        <string>_hyperconnect._tcp</string>
    </array>
</dict>
</plist>
